<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Beisen.Nuget" value="http://10.129.8.151/nuget" />
  </packageSources>
   <config>
    <add key="repositoryPath" value="..\lldpackages" />
  </config>
  <disabledPackageSources>
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>
</configuration>